<%= form_tag({controller: :topics, action: :new}, {:method => "get"}) do %>
  <label for="image">画像</label>
  <%= file_field_tag :image %>
  <%= submit_tag 'ラベル検出', class: "btn btn-block btn-primary" %>
<% end %>
